* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: .75rem;
	background-color: silver;
}

p {
	margin: 1rem auto;
}

.input-text {
	padding: 1.5rem 3.75rem;
	width: 100%;
	width: 800px;
	height: 150px;
	font-family: 'Roboto', sans-serif;
	resize: none;
	outline: none;
	overflow: auto;
	border-radius: 4px;
	background: rgb(210, 210, 210);
	background: linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(236, 236, 236, 1) 50%, rgba(210, 210, 210, 1) 100%);
	transition: 0.2s;
}

.keyboard-wrap {
	margin: 20vh auto 0;
	width: 800px;
	display: flex;
	flex-direction: column;
}

.keyboard_keys {
	margin: 2vh 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	gap: 5px;
}

.keyboard_display,
.keyboard_keys {
	padding: 1.5rem;
	border-radius: .3rem;
	background: rgb(210, 210, 210);
	background: linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(236, 236, 236, 1) 50%, rgba(210, 210, 210, 1) 100%);
	box-shadow: 0 0 5px 1px rgb(130, 130, 130);
}

.keyboard_display {
	padding: 0;
}

.row {
	margin: auto;
	width: calc(760px - 10%);
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.key {
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: .5rem;
	font-size: 1rem;
	color: #fff;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(22, 21, 21, 1) 50%, rgba(0, 0, 0, 1) 100%);
	box-shadow: 0 2px 2px 0 rgb(130, 130, 130);
	transition: 0.2s;
}

.key.active {
	color: #000;
	background: lightgrey;
}

.capslock_key.active {
	color: #000;
	background: lightgrey;
}

.backspace_key,
.tab_key,
.backslash_key,
.capslock_key,
.enter_key,
.shift_key,
.ctrl_key,
.alt_key,
.arrow_key {
	font-size: .75rem;
	flex-grow: 1;
}

.backspace_key {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.enter_key {
	flex-grow: 1.25;
}

.space_key {
	flex-grow: 40;
}

.two_arrows {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 5;
	gap: 3px;
}

.two_arrows>.arrow_key {
	width: 100%;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row:nth-of-type(5) .arrow_key:nth-of-type(1) svg {
	transform: rotate(90deg);
}

.row:nth-of-type(5) .arrow_key:nth-of-type(2) svg {
	transform: rotate(90deg);
}

.row:nth-of-type(5) .arrow_key:last-child {
	transform: rotate(180deg);
}
